<div class="row">
	<div class="col-lg-10">
		<h1>{{ storage['headline'] }}</h1>
		<h2 *ngIf="storage['showProjectHeadline']">{{ storage['projectName'] }}, {{ storage['displayStartDate'] }} - {{ storage['displayEndDate'] }}</h2>
	</div>
	<div class="col-lg-2 do-not-print">
		<br>
		<button (click)="storage['language'] = 'en'" class="btn btn-primary btn-sm">English</button>
		<button (click)="storage['language'] = 'de'" class="btn btn-primary btn-sm">German</button>
	</div>
</div>
<hr>
<div class="row do-not-print">
	<div class="col-lg-12 well">
		<form role="form" (submit)="login()">
			<div class="form-group">
				<label for="accountName">Account name</label>
				<input type="text" class="form-control" id="accountName" placeholder="Please enter your account name." [(ngModel)]="storage['accountName']">
			</div>
			<div class="form-group">
				<label for="apiKey">API key</label>
				<input type="text" class="form-control" id="apiKey" placeholder="Please enter your API key." [(ngModel)]="storage['apiKey']">
			</div>
			<button type="submit" class="btn btn-default">Login</button>
		</form>
	</div>
</div>
<div class="row do-not-print">
	<div class="col-lg-12 well">
		<form role="form" (submit)="displayTimes()">
			<div class="form-group">
				<label for="project">Project</label>
				<select id="project" class="form-control" [(ngModel)]="storage['project']">
					<option value="" selected>Please select a project.</option>
					<option *ngFor="#project of projects" value="{{ project.key }}">{{ project.value }}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="startDate">Begin</label>
				<input type="date" id="startDate" class="form-control" [(ngModel)]="storage['startDate']">
			</div>
			<div class="form-group">
				<label for="endDate">End</label>
				<input type="date" id="endDate" class="form-control" [(ngModel)]="storage['endDate']">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>
<div class="row do-not-print">
	<div class="col-lg-12 well">
		<form role="form">
			<div class="form-group">
				<label for="headline">Headline</label>
				<input type="text" class="form-control" id="headline" placeholder="Please enter a headline" [(ngModel)]="storage['headline']">
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr *ngIf="storage['language'] === 'en'">
					<th>Person</th>
					<th>Service</th>
					<th>Date</th>
					<th>Hours</th>
				<tr *ngIf="storage['language'] === 'de'">
					<th>Person</th>
					<th>Leistung</th>
					<th>Datum</th>
					<th>Stunden</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="2"></td>
					<td>
						<span *ngIf="storage['language'] === 'en'"><strong>Total</strong></span>
						<span *ngIf="storage['language'] === 'de'"><strong>Gesamt </strong></span>
					</td>
					<td><strong>{{ totalHours }}</strong></td>
				</tr>
			</tfoot>
			<tbody>
				<tr *ngFor="#timeEntry of timeEntries">
					<td>{{ timeEntry.userName }}</td>
					<td>{{ timeEntry.serviceName }}</td>
					<td>{{ timeEntry.date }}</td>
					<td>{{ timeEntry.hours }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<footer>
	<div id="main_footer" class="do-not-print">created by <a href="https://bjoernkw.com" title="Björn Wilmsmann IT Services">Björn Wilmsmann IT Services</a>, {{ currentYear }}.</div>
</footer>
